<!DOCTYPE html>
<html ng-app="ycyh" ng-controller="ycyhCtrl">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="https://raw.githubusercontent.com/ycyh/ycyh.github.io/master/glowing-star.png"> <title>YCYH</title> <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- Custom styles for this template -->
  <link href="blog.css" rel="stylesheet"> </head>

<body>
  <div class="blog-masthead">
    <div class="container">
      <nav class="nav blog-nav"> <a class="nav-link active" href="#">Article</a></nav>
    </div>
  </div>
  <div class="blog-header">
    <div class="container">
      <h2>杨超越🌟陈意涵</h2>
      <p class="lead blog-description">{{ycyLyric[0]}}</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 blog-main" id="blogMain">
        <div class="blog-post">
          <h2 class="blog-post-title">越涵超话</h2>
          <p class="blog-post-meta">导语</p>
          <p>杨超越x陈意涵＝越涵，也叫约翰。 圈地自萌，圈地自萌，圈地自萌，重要的事说三遍 如果你也心灵相惜，那就给我个肯定的回应。 我们只磕真的糖。</p>
          <hr>
        </div>
        <!-- 快快加糖 -->
        
        <content-directive ng-repeat="C6H12O6 in Maserati | orderBy:'-'" data="C6H12O6"></content-directive>

        <nav class="blog-pagination"> <a class="btn btn-outline-primary" href="#">Older</a> <a class="btn btn-outline-secondary disabled" href="#">Newer</a> </nav>
      </div><!-- /.blog-main -->
      <div class="col-sm-3 blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
          <h5>YCYH 你值得拥有</h5>
          <p>你以为我收集的是花岗岩，其实是糖哒</p>
          <button class="btn btn-primary btn-sm" type="button" id="allIn">我全要</button>
        </div>
        <div class="sidebar-module" ng-if="false">
          <h4>Archives</h4>
          <ol class="list-unstyled">
            <li><a href="#">August 2018</a></li>
            <li><a href="#">July 2018</a></li>
            <li><a href="#">June 2018</a></li>
            <li><a href="#">May 2018</a></li>
            <li><a href="#">April 2018</a></li>
          </ol>
        </div>
        <div class="sidebar-module">
          <h4>Elsewhere</h4>
          <ol class="list-unstyled">
            <li><a href="https://www.weibo.com/p/1008086867749a76fc377225cce9de32b65e06/super_index" target="_blank">微博</a></li>
            <li><a href="https://search.bilibili.com/all?keyword=%E8%B6%8A%E6%B6%B5" target="_blank">哔哩哔哩</a></li>
          </ol>
        </div>
      </div><!-- /.blog-sidebar -->
    </div><!-- /.row -->
  </div><!-- /.container -->
  <footer class="blog-footer">
    <p> <a href="#">Back to top</a> </p>
  </footer> <!-- js files -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-sanitize.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
  </script>
  <script src="ycyhApp.js?version=4">
  </script>
</body>

</html>